<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Portfolio | {{ title }}</title>
    <link rel="icon" href="{{ url_for('static', filename='pics/Logo2.png') }}"
        type="image/x-icon" />
</head>
<body>

    <!-- Navigation Bar -->
    <header class="navbar">
        <div class="logo">
        <a href="{{url_for('home')}}" > <img src="{{ url_for('static', filename='pics/Logo.png') }}" 
                 alt="Abishek Parajuli Logo" 
                 class="logo-image">
                 </a>   
        </div>
        <nav>
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
                <li><a href="{{url_for('about')}}">About</a></li>
                <li><a href="{{url_for('projects')}}">Projects</a></li>
                <li><a href="{{url_for('gallery')}}">Gallery</a></li>
                <li><a href="{{url_for('contact')}}">Contact</a></li>
            </ul>
        </nav>
    </header>

    <!-- Content Section -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer" id="contact">
        <p>© 2025 Abishek Parajuli. All rights reserved.</p>
        <div class="social-icons">
            <a href="https://linkedin.com/in/abishek-parajuli-866b89370" target="_blank">
                <img src="{{ url_for('static', filename='pics/linkedin.png') }}" alt="LinkedIn" class="social-icon">
            </a>
            <a href="https://github.com/abishekparajuli-np" target="_blank">
                <img src="{{ url_for('static', filename='pics/github.png') }}" alt="GitHub" class="social-icon">
            </a>
            <a href="https://www.instagram.com/abishekparajuli_17/" target="_blank">
                <img src="{{ url_for('static', filename='pics/instagram.png') }}" alt="Instagram" class="social-icon">
            </a>
            <a href="https://discord.gg/uqq4bfF2" target="_blank">
                <img src="{{ url_for('static', filename='pics/discord.png') }}" alt="Discord" class="social-icon">
            </a>
        </div>
    </footer>

    <!-- Optional: Smooth Scroll -->
    <script>
        const contactBtn = document.querySelector('.contact-button');
        contactBtn?.addEventListener('click', function(e) {
            e.preventDefault();
            document.querySelector("{{url_for('contact')}}").scrollIntoView({ behavior: 'smooth' });
        });
    </script>

</body>
</html>
